<br>
<div class="mat-headline">Avion</div>
<mat-divider></mat-divider>
<br>

<mat-nav-list>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/"><mat-icon>apps</mat-icon>Dashboard</a>
  <br>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/flightlist"><mat-icon>flight_takeoff</mat-icon>Flights</a>
    <br>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/adminairlinespage"><mat-icon>flight</mat-icon>Airlines</a>
    <br>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/adminpassengerview"><mat-icon>airline_seat_recline_extra</mat-icon>Passengers</a>
    <br>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/schedules"><mat-icon>insert_invitation</mat-icon>Schedules</a>
    <br>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/adminroute"><mat-icon>alt_route</mat-icon>Routes</a>
    <br>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/cancellations"><mat-icon>airplanemode_inactive</mat-icon>Cancellations</a>
</mat-nav-list>

