<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header ">
                      <h4 class="card-title ">AirlinesList</h4>

                  </div>
                  <div class="card-body">
      <table class="table table-striped">
          <thead>
              <tr>
                  <th>Airlines ID</th>
                  <th>airlines Name</th>

                  <th>Actions</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let a of airlines; let i=index;">
                  <td>{{a.airlineId}}</td>
                  <td>{{a.airlineName}}</td>

                  <!-- <td><button (click)="deleteFlight(f.flightId)" class="btn btn-danger">Delete</button>-->

                      <a class='btn btn-primary' (click)='editAirlines()'>Update</a>&nbsp;
                      <!-- <a class='btn btn-primary'>Update</a>&nbsp; -->
                      <a class='btn btn-danger' (click)='deleteAirlines(a.airlineId)'>Delete</a>

              </tr>
          </tbody>
      </table>
  </div>
</div>
<br>
<button type="button" class='btn btn-primary' (click)='addAirlines()'>Add new Airlines</button>


